
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start; /* makes each card height independent */
  justify-content: space-around;
}


/* Individual card styling */
.custom-card {
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 372px;
  max-width: 100%;
  height: auto; /* grow with content */
  background: #2f1051;
  color: #fff;
  cursor: pointer;
}

/* Hover effect */
.custom-card:hover {
  transform: translateY(-5px);
}

/* Optional text alignment helpers */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.authorty-activity{
  transition: box-shadow 0.5s;
}
.authorty-activity:hover{
  box-shadow: 0px 0px 9px 0px #2f1051;
}

a{
  text-decoration: none;
}