@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-header {
    background-color: #ffffff;
}
.sidebar{
  background-color: #2F1051!important;
}
.sidebar-brand-full {
  margin-left: 3px;
}

.nav-title {
  color: #c1c1c1 !important;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  font-size: 14.5px !important;
  margin-top: 3px !important;
  padding: 3px 8px !important
}

.sidebar-nav .nav-link::before{
  content: "-";
  position: absolute;
  margin: -10px;
}
.simplebar-content .icon{
  color: #ff7711 !important;
}
.sidebar-nav .nav-link{
  margin-left: 40px !important;
  font-size: 15px;
}
.custom-button {
  background-color: transparent;
  color: #2f1051;
  border: 1px solid #2f1051;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.custom-button:hover {
  // background-color: #ff7711;
  color: #ff7711;
  border-color: #ff7711;
}
.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

// custom progress bar background color
// .progress-bar{
//   background-color:#ff7711 !important;
// }

.orange-color{
  background-color:#ff7711  ;
}
